a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  nav {
    margin-left: auto;

    ul {
      display: flex;
      align-items: stretch;

      li {
        display: inline;
        padding: 1em;
        border: 1px var(--white) solid;
        // TODO: highlight al pasar el mouse.

        &:hover {
          background-color: var(--light-blue);
        }
      }
    }
  }
}